* {
    font-family: 'Roboto', sans-serif;
    color: #4F4F4F;
}

div.container {
    max-width: 1130px !important;
}

nav {
    justify-content: space-between !important;
    padding-top: 32px !important;
    margin-bottom: 55px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

a.menu-item {
    padding-right: 40px;
    color: #4F4F4F;
    text-decoration: none;
}

a.active {
    color: #2D9CDB !important;
}

.header__logo {
    width: 202px;
}

.header__text {
    font-size: 14px;
    line-height: 16.41px;
}

.contacts {
    font-size: 9px;
    line-height: 10.55px;
}

h1 {
    margin: 68px 0 29px 0;
    font-size: 25px;
    line-height: 29.3px;
    font-weight: 700;
}

.container.company__info {
    display: flex;
    width: 1925px;
}

.bg-white.company__info {
    height: 394px;
    max-width: 100%;
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-position: center;
    background-image: url("../img/bg-img.png");
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.company__info__text {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.some__info {
    width: 619px;
    height: 113px;
    margin-top: 58px;
    text-align: center;
}

.some__info__h {
    font-size: 25px;
    line-height: 29.3px;
    font-weight: 700;
}

.some__info__text {
    font-size: 14px;
    line-height: 18.23px;
    text-align: center;
}

.some__info__big__text {
    font-size: 14px;
    margin: 25px 399px 0 399px;
    line-height: 16.8px;
}

.history__info {
    margin-top: 50px;
    width: 619px;
    text-align: center;
}

.history__h {
    text-align: center;
    font-size: 25px;
    line-height: 29.3px;
    font-weight: 700;
}

.history__info__text {
    height: 73px;
    font-size: 14px;
    line-height: 18.23px;
    text-align: center;
}

.img__block {
    margin-top: 56px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 40px 72.52px;
    text-align: center;
}

.img__min-block {
    font-size: 14px;
    line-height: 18.23px;
}

.img__min-block__date {
    font-size: 14px;
    line-height: 18.23px;
    text-align: center;
    font-weight: 700;
    width: 265.89px;
    margin: 0 auto;
}

.min-img {
    margin: 13px 0 0 0;
    width: 327px;
    height: 327px;
    border-radius: 5px;
}

.advantage__info {
    margin: 57.66px auto 0 auto;
    text-align: center;
    width: 514px;
}

.advantage__h {
    font-size: 25px;
    line-height: 29.3px;
    text-align: center;
    font-weight: 700;
}

.advantage__info__text {
    margin: 13px 0 0 0;
    width: 514px;
    height: 52px;
    padding: 13px 0 0 0;
    font-size: 14px;
    line-height: 18.23px;

}

.advantage__img__block {
    margin-top: 33px;
    display: grid;
    grid-template-columns: 180px 180px 180px 180px 180px;
    gap: 23px 72px;
}

.advantage__min-img {
    width: 168px;
    height: 168px;
    border-radius: 5px;
}

.advantage__img__block__text {
    text-align: center;
    margin: 18px 0 0 0;
    line-height: 18.2px;
    font-size: 14px;
}

.license__info {
    text-align: center;
    margin: 72px 0 0 0;
}

.license__h {
    font-size: 25px;
    line-height: 29.3px;
    font-weight: 700;
    text-align: center;
}

.license__info__text {
    width: 668px;
    height: 34px;
    font-size: 14px;
    line-height: 16.8px;
    margin: 0 626px;
}

.license__img__block {
    display: grid;
    grid-template-columns: 462px 462px;
    justify-content: center;
    margin: 0 580px 0 591px;
}

.license__img {
    width: 328px;
    height: 462px;
    margin: 33px 0 0 0;
}

.license__img__block__text {
    margin: 24.34px 0 0 0;
    font-size: 14px;
    line-height: 18.23px;
    font-weight: 700;
    text-align: center;
}

.interesting__block-card {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.card__img {
    width: 352px;
    height: 210px;
}

.group-company__info {
    margin-top: 67px;
    text-align: center;
}

.group-company__info__text {
    margin-top: 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
}

.group-company__link {
    margin-top: 33px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    color: #1B86C0;
}

.be__interesting {
    margin-top: 101px;
    font-size: 20px;
    line-height: 23.44px;
    text-align: left;
    font-weight: 700;
}

.group-company__info__text__left {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.23px;
    text-align: left;
}

.interesting__card {
    width: 352px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px #00000040;
}

.interesting__card-date {
    margin-top: 19px;
    margin-left: 21px;
    font-size: 16px;
    line-height: 18.75px;
    text-align: left;
    font-weight: 700;
}

.interesting__card__text {
    margin-top: 12px;
    margin-left: 21px;
    width: 306px;
    height: 57px;
    font-size: 14px;
    line-height: 18.2px;
    text-align: left;
}

.link {
    display: flex;
    justify-content: end;
    margin-top: 16px;
    margin-bottom: 24px;
    margin-right: 9px;
}

.text-center {
    text-align: center;
}